/*顶部通栏*/
.header .row > div {
  height: 40px;
  border: 1px solid gray;
  text-align: center;
  line-height: 40px;
}
.header .row > div > a {
  text-decoration: none;
  color: gray;
}
.header .row > div:nth-child(n+3) a {
  margin-left: 15px;
}
.header .row > div:first-child {
  position: relative;
}
.header .row > div:first-child img {
  position: absolute;
  left: 0px;
  top: 20px;
  display: none;
  z-index: 998;
}
.header .row > div:first-child:hover img {
  display: block;
}
/*导航栏*/
.nav .wjs_navbar {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  margin-bottom: 0px;
}
.nav .wjs_navbar .navbar-brand {
  color: #777;
  line-height: 50px;
  height: 80px;
}
.nav .wjs_navbar .navbar-brand span {
  font-size: 50px;
}
.nav .wjs_navbar .navbar-brand span:first-child {
  color: red;
}
.nav .wjs_navbar .navbar-brand span:last-child {
  color: black;
}
.nav .wjs_navbar .navbar-brand:hover,
.nav .wjs_navbar .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.nav .wjs_navbar .navbar-text {
  color: #777;
}
.nav .wjs_navbar .navbar-nav > li > a {
  color: #777;
  line-height: 50px;
}
.nav .wjs_navbar .navbar-nav > li > a:hover,
.nav .wjs_navbar .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 3px solid red;
}
.nav .wjs_navbar .navbar-nav > .active > a,
.nav .wjs_navbar .navbar-nav > .active > a:hover,
.nav .wjs_navbar .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.nav .wjs_navbar .navbar-nav > .disabled > a,
.nav .wjs_navbar .navbar-nav > .disabled > a:hover,
.nav .wjs_navbar .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.nav .wjs_navbar .navbar-toggle {
  border-color: #ddd;
  margin-top: 20px;
}
.nav .wjs_navbar .navbar-toggle:hover,
.nav .wjs_navbar .navbar-toggle:focus {
  background-color: #ddd;
}
.nav .wjs_navbar .navbar-toggle .icon-bar {
  background-color: #888;
}
.nav .wjs_navbar .navbar-collapse,
.nav .wjs_navbar .navbar-form {
  border-color: #e7e7e7;
}
.nav .wjs_navbar .navbar-nav > .open > a,
.nav .wjs_navbar .navbar-nav > .open > a:hover,
.nav .wjs_navbar .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .nav .wjs_navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .nav .wjs_navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .nav .wjs_navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .nav .wjs_navbar .navbar-nav .open .dropdown-menu > .active > a,
  .nav .wjs_navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .nav .wjs_navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .nav .wjs_navbar .navbar-nav .open .dropdown-menu > .disabled > a,
  .nav .wjs_navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .nav .wjs_navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.nav .wjs_navbar .navbar-link {
  color: #777;
}
.nav .wjs_navbar .navbar-link:hover {
  color: #333;
}
.nav .wjs_navbar .btn-link {
  color: #777;
}
.nav .wjs_navbar .btn-link:hover,
.nav .wjs_navbar .btn-link:focus {
  color: #333;
}
.nav .wjs_navbar .btn-link[disabled]:hover,
.nav fieldset[disabled] .wjs_navbar .btn-link:hover,
.nav .wjs_navbar .btn-link[disabled]:focus,
.nav fieldset[disabled] .wjs_navbar .btn-link:focus {
  color: #ccc;
}
/*轮播图*/
.banner .banner_a {
  height: 400px;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner .banner_a.images1 {
  background-image: url('../images/slide_01_2000x410.jpg');
}
.banner .banner_a.images2 {
  background-image: url('../images/slide_02_2000x410.jpg');
}
.banner .banner_a.images3 {
  background-image: url('../images/slide_03_2000x410.jpg');
}
.banner .banner_a.images4 {
  background-image: url('../images/slide_04_2000x410.jpg');
}
/*信息栏*/
.info {
  background-color: #f9f9f9;
  padding-top: 20px;
}
.info a {
  padding: 10px;
  display: block;
  color: gray;
}
.info a span {
  font-size: 50px;
}
.info a:hover {
  color: red;
}
/*预约栏*/
.book {
  background-color: #f9f9f9;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding: 20px 0;
}
.book .pull-left a {
  border-bottom: 1px dashed red;
  color: red;
}
.book .pull-right a {
  color: gray;
}
/*产品信息*/
.productInfo {
  background-color: #f9f9f9;
  padding-bottom: 30px;
}
.productInfo .wjs-nav-tabs {
  border-bottom: 1px solid #ddd;
  position: relative;
}
.productInfo .wjs-nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.productInfo .wjs-nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: gray;
}
.productInfo .wjs-nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.productInfo .wjs-nav-tabs > li.active > a,
.productInfo .wjs-nav-tabs > li.active > a:hover,
.productInfo .wjs-nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border-bottom: 3px solid red;
}
.productInfo .wjs-nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.productInfo .wjs-nav-tabs.nav-justified > li {
  float: none;
}
.productInfo .wjs-nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.productInfo .wjs-nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .productInfo .wjs-nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .productInfo .wjs-nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.productInfo .wjs-nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.productInfo .wjs-nav-tabs.nav-justified > .active > a,
.productInfo .wjs-nav-tabs.nav-justified > .active > a:hover,
.productInfo .wjs-nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .productInfo .wjs-nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .productInfo .wjs-nav-tabs.nav-justified > .active > a,
  .productInfo .wjs-nav-tabs.nav-justified > .active > a:hover,
  .productInfo .wjs-nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.productInfo .items .item {
  margin-top: 20px;
}
.productInfo .items .item .price-tips {
  display: block;
  box-shadow: 2px 2px 5px #999;
  max-height: 150px;
  font-size: 0;
}
.productInfo .items .item .price-tips:hover {
  text-decoration: none;
}
.productInfo .items .item .price-tips.active {
  background-color: yellowgreen;
  color: #fff;
  font-size: 40px;
  box-shadow: 2px 2px 8px #333;
}
.productInfo .items .item .price-tips.active .tips_right p {
  color: #fff;
}
.productInfo .items .item .price-tips.active .tips_left {
  margin-top: -40px;
}
.productInfo .items .item .price-tips.active .tips_left p {
  color: #fff;
}
.productInfo .items .item .price-tips.active .tips_left h3 {
  color: #fff;
}
.productInfo .items .item .price-tips .tips_right {
  float: right;
  width: 108px;
  height: 150px;
  border-left: 1px dotted gray;
  position: relative;
}
.productInfo .items .item .price-tips .tips_right::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f9f9f9;
  border-bottom: 1px solid gray;
  position: absolute;
  left: -10px;
  top: -10px;
}
.productInfo .items .item .price-tips .tips_right::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f9f9f9;
  border-top: 1px solid gray;
  position: absolute;
  left: -10px;
  bottom: -10px;
}
.productInfo .items .item .price-tips .tips_right p {
  color: gray;
  text-align: center;
  font-weight: 700;
  padding-top: 20px;
  font-size: 14px;
}
.productInfo .items .item .price-tips .tips_left {
  overflow: hidden;
  height: 150px;
}
.productInfo .items .item .price-tips .tips_left p {
  color: gray;
  font: 700 13px 'microsoftyahei';
  height: 15px;
  overflow: hidden;
}
.productInfo .items .item .price-tips .tips_left h3 {
  margin: 10px;
  text-align: center;
  color: gray;
  font: 700 16px 'microsoftyahei';
  height: 20px;
  overflow: hidden;
}
/*全部新闻*/
.news {
  padding-top: 20px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.news h3 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid gray;
  position: relative;
}
.news h3::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid gray;
  position: absolute;
  right: 0;
  bottom: -4px;
}
.news .news-nav-tabs {
  border-bottom: 1px solid #ddd;
}
.news .news-nav-tabs > li {
  float: left;
  width: 100%;
  margin-bottom: -1px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.news .news-nav-tabs > li:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .news .news-nav-tabs > li {
    width: 25%;
  }
}
.news .news-nav-tabs > li > a {
  width: 70px;
  height: 70px;
  background-color: #e4e4e4;
  color: #fff;
  border-radius: 50%;
  font-size: 40px;
  padding: 0;
  text-align: center;
  line-height: 70px;
}
.news .news-nav-tabs > li > .news-nav-tabs > li > a:hover {
  /*  border-color: #eee #eee #ddd; */
  background-color: red;
}
.news .news-nav-tabs > li.active > a,
.news .news-nav-tabs > li.active > a:hover,
.news .news-nav-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  background-color: red;
}
.news .news-nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.news .news-nav-tabs.nav-justified > li {
  float: none;
}
.news .news-nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;
  text-align: center;
}
.news .news-nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .news .news-nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .news .news-nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.news .news-nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.news .news-nav-tabs.nav-justified > .active > a,
.news .news-nav-tabs.nav-justified > .active > a:hover,
.news .news-nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}
@media (min-width: 768px) {
  .news .news-nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
  }
  .news .news-nav-tabs.nav-justified > .active > a,
  .news .news-nav-tabs.nav-justified > .active > a:hover,
  .news .news-nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #fff;
  }
}
.news .news-nav-tabs .line {
  height: 80%;
  border: 1px dotted gray;
  top: 35px;
  position: absolute;
  left: 48px;
}
.news .tab-content ul {
  list-style: none;
  margin-top: 10px;
}
.news .tab-content ul li {
  padding: 10px 0;
}
.news .tab-content ul li a {
  color: gray;
}
/*合作伙伴*/
.partner {
  background-color: #f9f9f9;
  padding: 30px 0;
}
.partner h3 {
  margin: 0;
  text-align: center;
  font-size: 30px;
}
.partner ul {
  list-style: none;
  margin: 0;
  text-align: center;
}
.partner ul li {
  display: inline;
  margin: 10px;
  font-size: 80px;
  color: gray;
}
